<% const urlStoreEncode=encodeURI(process.env.URL_STORE); %> <% const
urlAuth=process.env.URL_AUTH + '/sign-up' ; %>

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>

        <title>Insa - Nền tảng quản lý và bán hàng đa kênh</title>
    </head>

    <body class="detail">
        <%- include('../partials/header.ejs') %>
        <main class="main">
            <div
                class="mx-auto py-10 lg:py-20 px-5 container md:max-w-screen-md"
            >
                <div>
                    <div
                        class="detail-heading pb-6 mb-6 border-b border-gray-200"
                    >
                        <h2 class="text-4xl mb-5">
                            From WordPress to Webflow: case study and site
                            migration SEO checklist
                        </h2>

                        <div class="flex justify-between items-center">
                            <div class="text-sm text-gray-500">
                                SEP 23, 2021
                            </div>
                            <div class="socials text-gray-500">
                                <%- include('../partials/social.ejs') %>
                            </div>
                        </div>
                    </div>

                    <div>
                        <p class="mb-4">
                            There’s a widespread belief in the digital marketing
                            community that Wordpress is required to rank
                            organically in Google. In this article, I’ll show
                            you how I, a person who has never used Webflow
                            before, successfully migrated my company’s website
                            from WordPress to Webflow and saw SEO improvements
                            in the process.
                        </p>

                        <p class="mb-4">
                            On January 3, 2019 Adlava, a web design company
                            based in Las Vegas, collectively decided to launch a
                            new website in Webflow CMS. We’d used WordPress for
                            all previous iterations of our website, and I was
                            tasked with making sure the transition went smoothly
                            from an SEO standpoint.
                        </p>

                        <p class="mb-4">
                            Having never used Webflow CMS before, I decided to
                            make a list of all the major on-site SEO elements I
                            knew I‘d need access to, and researched how to
                            implement them with Webflow CMS. I tracked our
                            progress during this process, and here’s what
                            happened after a month:
                        </p>

                        <p class="font-medium mb-4">
                            Organic search traffic increased
                        </p>
                        <p class="mb-4">
                            Since we’re focusing on SEO, I dug into our
                            website’s Google Analytics reports for organic
                            search to exclude any ads, campaigns, or social
                            media posts promoting the launch of the new website.
                        </p>

                        <p class="mb-4">
                            Seasonality aside, organic search traffic is a
                            useful key performance indicator (KPI) for SEO
                            because it not only gives you an idea of how many
                            users find you through search, but also whether
                            those users found your website useful.
                        </p>

                        <p class="mb-4">
                            In other words, it helps you determine whether
                            you’re reaching the right people.
                        </p>

                        <p class="font-medium mb-4">
                            How are the major SEO elements handled in Webflow?
                        </p>

                        <p class="mb-4">
                            <img
                                src="images/news.jpg"
                                class="mx-auto max-w-full"
                                alt=""
                            />
                        </p>

                        <p class="mb-4">
                            After going through the redesign and migration
                            process, I noticed a few Seasonality aside, organic
                            search traffic is a useful key performance indicator
                            (KPI) for SEO because it not only gives you an idea
                            of how many users find you through search
                        </p>
                        <p class="font-medium mb-4">
                            1. Meta titles and descriptions
                        </p>
                        <p class="mb-4">
                            There’s not a huge difference between Webflow and
                            most other major On January 3, 2019 Adlava, a web
                            design company based in Las Vegas, collectively
                            decided to launch a new website in Webflow CMS. We’d
                            used WordPress for all previous iterations of our
                            website
                        </p>
                    </div>
                </div>
            </div>

            <div class="bg-gray-100 py-10">
                <div class="container mx-auto xl:max-w-7xl px-5">
                    <div class="font-medium text-xl mb-8">
                        Có thể bạn quan tâm
                    </div>
                    <div
                        class="grid grid-cols-1 md:grid-cols-2 gap-5 lg:gap-16"
                    >
                        <div class="border border-gray-200 bg-white py-6 px-5">
                            <span class="text-gray-500 uppercase text-sm"
                                >SEP 23, 2021</span
                            >
                            <h5 class="font-medium text-lg my-3">
                                <a href="/detail" class="hover:text-blue-800">
                                    From WordPress to Webflow: case study and
                                    sitemigration SEO checklist
                                </a>
                            </h5>
                            <p class="font-light text-gray-600">
                                There’s not a huge difference between Webflow
                                and most other major On January 3, 2019 Adlava,
                                a web design company based in Las Vegas,
                            </p>
                        </div>
                        <div class="border border-gray-200 bg-white py-6 px-5">
                            <span class="text-gray-500 uppercase text-sm"
                                >SEP 23, 2021</span
                            >
                            <h5 class="font-medium text-lg my-3">
                                <a href="/detail" class="hover:text-blue-800">
                                    From WordPress to Webflow: case study and
                                    sitemigration SEO checklist
                                </a>
                            </h5>
                            <p class="font-light text-gray-600">
                                There’s not a huge difference between Webflow
                                and most other major On January 3, 2019 Adlava,
                                a web design company based in Las Vegas,
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- footer -->
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
