<div class="py-16">
    <div class="container xl:max-w-7xl mx-auto px-5">
        <div class="mx-auto max-w-2xl">
            <div class="grid gap-4 text-center">
                <h5 class="text-4xl">
                    Bạn đã sẵn sàng để trải nghiệm những gì mà chúng tôi mang
                    lại?
                </h5>
                <img class="logo mx-auto" src="images/logo_v2.png" alt="Insa" />
                <p class="font-light">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Quis ipsum suspendisse ultrices gravida. Risus
                    commodo viverra maecenas accumsan lacus vel facilisis.
                </p>

                <div class="my-5">
                    <a
                        href="/bang-gia"
                        class="btn inline-block text-white py-2 px-7"
                    >
                        Bảng giá</a
                    >
                </div>
            </div>

            <div class="text-center mt-10 pt-12 border-t border-gray-200">
                <h5 class="text-4xl">Câu hỏi thường gặp</h5>
            </div>

            <div class="questions border-b border-gray-200 mt-8">
                <div class="question">
                    <div
                        class="question-title border-t border-gray-200 py-4 cursor-pointer"
                    >
                        Tại sao mọi doanh nghiệp cần sử dụng dịch vụ SEO?
                        <span class="question-title-arrow"></span>
                    </div>

                    <div class="py-4 answer border-t border-gray-200">
                        <span class="font-light">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Quis ipsum suspendisse ultrices
                            gravida. Risus commodo viverra maecenas accumsan
                            lacus vel facilisis.
                        </span>
                    </div>
                </div>

                <div class="question">
                    <div
                        class="question-title border-t border-gray-200 py-4 cursor-pointer"
                    >
                        Tại sao mọi doanh nghiệp cần sử dụng dịch vụ SEO?

                        <span class="question-title-arrow"></span>
                    </div>

                    <div class="py-4 answer border-t border-gray-200">
                        <span class="font-light">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Quis ipsum suspendisse ultrices
                            gravida. Risus commodo viverra maecenas accumsan
                            lacus vel facilisis.
                        </span>
                    </div>
                </div>

                <div class="question">
                    <div
                        class="question-title border-t border-gray-200 py-4 cursor-pointer"
                    >
                        Tại sao mọi doanh nghiệp cần sử dụng dịch vụ SEO?
                        <span class="question-title-arrow"></span>
                    </div>

                    <div class="py-4 answer border-t border-gray-200">
                        <span class="font-light">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Quis ipsum suspendisse ultrices
                            gravida. Risus commodo viverra maecenas accumsan
                            lacus vel facilisis.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
